.myCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    text-align: center;
    border: 1px solid #fafafa;
    border-radius: 1rem;
    box-sizing: border-box;
    overflow: hidden;
    color: #fafafa;
    cursor: pointer;
    opacity: 0.8;
    max-height: 382px;
}

.myCard:hover {
    border: 1px solid rgb(97, 243, 0);
    color: rgb(70, 175, 0);
    opacity: 1;
}